.header {
    position: sticky;
    top: 0px;
    width: auto;
    background-color: #44413e;
    margin: 20px;
    padding: 10px;
    z-index: 10000;
}

.header * {
    display: inline;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
    /* padding :2 px;
    border-right: 1px solid white; */
}

#back_link {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

.user_infos {
    position: absolute;
    right: 20px;
}

.user_avatar {
    border-radius: 50%;
}

.user_options {
    display: inline-block;
}

.user_options a {
    display: block;
    width: 120px;
}


.header a:hover {
    font-size: 120%;
    background-color: rgb(104, 101, 134);
}

 .menu .active {
    font-size: 120%;
    background-color: rgb(104, 101, 134);
} 

